<header>
  <a href="{{ site.github.url }}"> <h1>$2117.91</h1> </a>
  <p><b>{{ site.description | default: site.github.project_tagline }}</b></p>

  <p><b>I made it! 🎉**</b>

  <p>Income to earn: $-104.09<br />
  In the bank: $47.00.<br />
  <i>Contracted but not yet invoiced: $2175.00.</i></p>

  <p>I am live-blogging my entire process and thought patterns over the three day challenge here. Follow along!</p>

  <p><a href="{{ site.github.url }}/faq.html">Frequently Asked Questions</a></p>

  <p>Twitter: <a href="https://twitter.com/richlitt">@richlitt</a><br/ >
    Email: <a href="mailto:richard+2117@burntfen.com">richard@burntfen.com</a>
  </p>

  <p>Posts:</p>

  <p>
  {% for post in site.posts %}
      - {{ post.date | date: "%a at %H:%M" }} - <a href="{{ site.github.url }}{{post.url}}">{{ post.title }}</a><br/ >
  {% endfor %}
  </p>

  {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
  {% endif %}

  {% if site.github.is_project_page %}
  <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
  {% endif %}
</header>